# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\siemf\Documents\OsloMet\Webutvikling & Design\Innleverings oppgaver\HTML & CSS\innovationCampWeb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
